<br>
<div class="container">
  <div class="card">
    <div align="center">
        <br><img src="../../assets/img/m-ambiente.jpg" alt="imagen" class="rounded-circle" width="50%" height="50%">
    </div>
    <div class="card-body">
      <h4>¿Qué es medio ambiente?</h4>
      <p class="text-justify">
        El medio ambiente es el espacio en el que se desarrolla la vida de los seres vivos y que permite la interacción de los mismos. Sin embargo este sistema no solo está conformado por seres vivos, sino también por elementos abióticos (sin vida) y por elementos artificiales.
        Cuando se habla de seres vivos se hace referencia a los factores bióticos, sea flora, fauna o incluso los seres humanos. En oposición, los factores abióticos son aquellos que carecen de vida. Sin embargo estos elementos resultan esenciales para la subsistencia de los organismos vivos, como el aire, el suelo y el agua. Entre los elementos artificiales incluimos a las relaciones socioeconómicas, como la urbanización, los conflictos dentro de una sociedad, etc.
      </p>
      <a class="btn btn-primary" href="https://concepto.de/medio-ambiente/#ixzz6FNHwTmOC" target="_blank">Fuente</a>
    </div>
  </div>
</div>
