<br><br>
<div class="container">
  <h5><img width="50" height="30" src="../../assets/img/call.png">&nbsp;&nbsp;&nbsp;&nbsp;Telefonos:  &nbsp;&nbsp;5555555555</h5><br>
  <h5><img width="50" height="30" src="../../assets/img/email.png">&nbsp;&nbsp;&nbsp;&nbsp;e-mail:  &nbsp;&nbsp;ejemplo@gmail.com</h5><br>
  <p><img width="50" height="30" src="../../assets/img/maps-and-flags.png">&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <h4>Ubicación</h4>
  </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60174.31303228331!2d-99.28770839663524!3d19.503171479540185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d20243a35bef9d%3A0x2036f35d5fb1a7a6!2sCuatro%20Caminos!5e0!3m2!1ses!2smx!4v1582767635533!5m2!1ses!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
