<br>
<div class="container">
    <h4>Qué es Convenio:</h4>
    <p class="text-justify">
      Un convenio es un acuerdo entre dos o más partes sobre un asunto en particular. Generalmente, incluye cláusulas o normativas que las partes involucradas declaran conocer y hacer cumplir.
      Los alcances y limitaciones de un convenio se establecen en ese mismo documento, así como las implicaciones que habrá en caso de no cumplir lo acordado.
      También se conoce como convenio al acuerdo entre un deudor y su acreedor para evitar o renegociar una declaración de quiebra.
    </p>
    <a class="btn btn-primary" href="https://www.significados.com/convenio/" target="_blank">Fuente</a>
</div>
