<br><br>
<div class="container">
  <h4>Misión</h4>
  <p class="text-justify">
    La misión empresarial es el conjunto de objetivos generales y principios de trabajos para avanzar organización, que se expresa por medio de una declaración de la misión, que resume la misión empresarial en una sola frase, con el objetivo de comunicar la misión a todos los miembros de la organización.
    Los miembros de la organización son comúnmente conocidos como stakeholder o accionistas en la bibliografía estratégica, y comprende a los empleados, dueños, inversionistas o interesados, proveedores, clientes y a la comunidad.
  </p>
  <h4>Visión</h4>
  <p class="text-justify">
    La visión de una empresa es una declaración o manifestación que indica hacia dónde se dirige una empresa o qué es aquello en lo que pretende convertirse en el largo plazo. Muchas personas suelen confundir la visión con la misión de una empresa.
  </p>
  <h4>Organigrama</h4>
  <p class="text-justify">
    Un organigrama es la representación gráfica de la estructura de una empresa o cualquier otra organización, que incluye las estructuras departamentales y, en algunos casos, las personas que las dirigen, hacen un esquema sobre las relaciones jerárquicas y competenciales de vigor.
  </p>


  <p class="text-justify">
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <h6>Acerca de nosotros</h6>
  </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <p class="text-justify">
        Estamos conscientes de que México es un país multi-cultural, y eso nos impone mayor preparación profesional, nos empuja a ser mejores como personas y profesionistas, trabajamos bajo proyectos por que creemos que la organización es parte fundamental del éxito, el trabajo en equipo también es importante, todos somos una gran unidad de la cual nacen ideas, donde uno no puede ser sin el otro.
        ​Trabajamos de la mano con el gobierno y también con la iniciativa privada, lo mas importante para nosotros es la Familia, los Derechos Humanos y el Medio Ambiente, ya que son el pilares importantes de la sociedad y sin ellos nada seria, nada existiría como lo conocemos, por eso nuestro trabajo va encaminado al bien estar familiar, a la preservación de los Derechos Humanos y a la conservación del Medio Ambiente.
      </p>
    </div>
  </div>

  <h4>Objeto social</h4>
  <p class="text-justify">
    Los socios fundadores podrán incluir en el objeto social cualquier actividad singular distinta de las indicadas anteriormente. Si la inclusión de dicha actividad singular diera lugar a una calificación negativa del registrador mercantil de la escritura de constitución de la sociedad, no se paralizará su inscripción, que se practicará, sin la actividad singular en cuestión, siempre que los socios fundadores lo consientan expresamente en la propia escritura de constitución o con posterioridad.
  </p>
  <h4>Sujetos beneficiados</h4>
  <p class="text-justify">
    Los socios fundadores podrán incluir en el objeto social cualquier actividad singular distinta de las indicadas anteriormente. Si la inclusión de dicha actividad singular diera lugar a una calificación negativa del registrador mercantil de la escritura de constitución de la sociedad, no se paralizará su inscripción, que se practicará, sin la actividad singular en cuestión, siempre que los socios fundadores lo consientan expresamente en la propia escritura de constitución o con posterioridad.
  </p>
</div>
