<br><br>
<div class="container">
  <h4>Misión</h4>

  <h4>Visión</h4>

  <h4>Organigrama</h4>
  

  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <h6>Acerca de nosotros</h6>
  </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <p>
        Estamos conscientes de que México es un país multi-cultural, y eso nos impone mayor preparación profesional, nos empuja a ser mejores como personas y profesionistas, trabajamos bajo proyectos por que creemos que la organización es parte fundamental del éxito, el trabajo en equipo también es importante, todos somos una gran unidad de la cual nacen ideas, donde uno no puede ser sin el otro.
        ​Trabajamos de la mano con el gobierno y también con la iniciativa privada, lo mas importante para nosotros es la Familia, los Derechos Humanos y el Medio Ambiente, ya que son el pilares importantes de la sociedad y sin ellos nada seria, nada existiría como lo conocemos, por eso nuestro trabajo va encaminado al bien estar familiar, a la preservación de los Derechos Humanos y a la conservación del Medio Ambiente.
      </p>
    </div>
  </div>



  <h4>Objeto social</h4>
  <h4>Sujetos beneficiados</h4>
</div>
